<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.j_keepass">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.J_KeePass"
        tools:targetApi="31">

        <activity
            android:name=".LoadActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.J_KeePass.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.kdb" />
                <data android:pathPattern=".*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-kdb" />
                <data android:mimeType="application/x-kdbx" />
                <data android:mimeType="application/x-keepass" />
                <data android:host="*" />
                <data android:pathPattern=".*" />
                <data android:pathPattern=".*\\.*" />
                <data android:pathPattern=".*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.J_KeePass.NoActionBar"></activity>
        <activity
            android:name=".ViewEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.J_KeePass.NoActionBar"></activity>

        <activity
            android:name=".AddGroupActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.J_KeePass.NoActionBar"></activity>

        <activity
            android:name=".EditGroupActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.J_KeePass.NoActionBar"></activity>

        <activity
            android:name=".EditEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.J_KeePass.NoActionBar"></activity>

        <activity
            android:name=".AddEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.J_KeePass.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>